.weather-table {
    display: flex;
    color: var(--primary-color);
}
.weather-forecast {
    position: relative;
    top: -460px;
    left: 138px;
}
.forecast-card {
    height: 150px;
    width: 450px;
    position: relative;
    right: 167px;
    top: 800px;
}

.city-name {
    margin-left: 30px;
}

.forecast-temp-min {
    opacity: 0.8;
}
