.summaryTempCard {
    width: 230px;
    position: relative;
    right: 28px;
    color: var(--primary-color);
    height: 225px;
}

.summaryDataCard {
    width: 230px;
    position: relative;
    left: 220px;
    top: -189px;
    height: 225px;
    color: var(--primary-color);
    font-size: 25px;
}
.summaryTempData {
    line-height: 0.9;
}
.summaryData {
    line-height: 1.8;
    list-style-type: none;
    margin-left: -25px;
    margin-top: 30px;
}
